<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Admin Page ...</title>
</head>
<body>
  <style>
    	h3 {text-align: right;}
  </style>
  <center>
  <h1>Welcome to Admin Page"<%= name %>"</h1>
  <h3><a href="/logout">Logout</a></h3>
    <form method="post">
        <fieldset>
            <legend>Admin</legend>
            <h2>Admin Information</h2>
            <table>


              <tr>
                <td>Name:</td><td><%= userlist.name %></td>
              </tr>
              <tr>
                <td>Phone:</td><td><%= userlist.phone %></td>
              </tr>
              <tr>
                <td>Address:</td><td><%= userlist.address %><td>
              </tr>
              <tr>
                <td>Gender:</td><td><%= userlist.gender %></td>
              </tr>

              <tr>
                <td><input type="submit" name="choice" value="AddEmployee"></td>
              </tr>
              <tr>
                <td><input type="submit" name="choice" value="AllEmployeeList"></td>
              </tr>
            </table>
        </fieldset>
    </form>
  </center>
</body>
